/*start - Alignement form css*/
.loading_small {
	display: none;
}
.form-item-alignement-organisms {
	display: none;
}
.form-item-alignement-retrotransposons {
	display: none;
}
.form-item-alignement-retrotransposons-portion {
	display: none;
}
#edit-algnement-name, #edit-alignement-organisms, #edit-alignement-retrotransposons, #edit-alignement-retrotransposons-portion {
	width: 300px;
}
#edit-alignement-segment-length, #edit-alignement-threshold {
	width: 60px;
}
#edit-alignement-min-local-cost {
	width: 100px;
}
.txt_red {
	color: red;
	font-weight: bold;
}
.txt_green {
	color: green;
	font-weight: bold;
}
td.collapsible {
    background: url("/misc/menu-expanded.png") no-repeat scroll 5px 65% transparent;
    padding-left: 15px;
	cursor: pointer;
}
td.collapsed {
    background-image: url("/misc/menu-collapsed.png");
    background-position: 5px 50%;
}
tr.collapsedrow {
	background-color: #FFFFFF;
	font-family: Courier, "Courier New", monospace;
	line-height: 5px;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.black {
	color: black;
}
/*div.fixedwidth { font-family: Courier, "Courier New", monospace }*/
/*end - Alignement form css*/
th.headerSortUp { 
    background-image: url(/misc/asc.gif); 
    /*background-color: #3399FF; */
}
th.headerSortDown { 
    background-image: url(/misc/desc.gif); 
    /*background-color: #3399FF; */
}
th.header {    
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}
#box, #result {
	width: 100%;
}