.loading_small {
	display: none;
}
.form-item-alignement-organisms {
	display: none;
}
.form-item-alignement-retrotransposons {
	display: none;
}
.form-item-alignement-retrotransposons-portion {
	display: none;
}
.txt_red {
	color: red;
	font-weight: bold;
}
.txt_green {
	color: green;
	font-weight: bold;
}