/*start - Alignement form css*/
.loading_small {
	display: none;
}
.form-item-alignement-organisms {
	display: none;
}
.form-item-alignement-retrotransposons {
	display: none;
}
.form-item-alignement-retrotransposons-portion {
	display: none;
}
#edit-algnement-name, #edit-alignement-organisms, #edit-alignement-retrotransposons, #edit-alignement-retrotransposons-portion {
	width: 300px;
}
#edit-alignement-segment-length, #edit-alignement-threshold {
	width: 60px;
}
.txt_red {
	color: red;
	font-weight: bold;
}
.txt_green {
	color: green;
	font-weight: bold;
}
td.collapsible {
    background: url("/misc/menu-expanded.png") no-repeat scroll 5px 65% transparent;
    padding-left: 15px;
	cursor: pointer;
}
td.collapsed {
    background-image: url("/misc/menu-collapsed.png");
    background-position: 5px 50%;
}
td.collapsedrow {
	display: none;
	background-color: #FFFFFF;
}
/*end - Alignement form css*/